* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #993024;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-form {
  border-radius: 78px;
  background: #993024;
  box-shadow: 21px 21px 43px #82291f, -21px -21px 43px #b03729;
  padding: 5% 10%;
  color: whitesmoke;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-heading {
  text-transform: uppercase;
  margin-bottom: 15%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.contact-input {
  display: flex;
  justify-content: center;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 10px;
  background: #ebe5e5;
  box-shadow: inset 20px 20px 33px #c8c3c3, inset -20px -20px 33px #ffffff;
}
.button {
  width: 100%;
  margin-top: 15px;
  padding: 2%;
  border: none;
}
